.topFixedBanner {
  background-image: url("https://img.freepik.com/free-photo/shop-clothing-clothes-shop-hanger-modern-shop-boutique_1150-8886.jpg?w=900&t=st=1660540179~exp=1660540779~hmac=793158d3b99332265daf321b8f1fcb46a98eb2b4a8df060357c3499c1a3a1d9d");
  min-height: 500px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.topBannerOverlay {
  position: absolute;
  min-height: 500px;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.topContent {
  margin-top: 12rem;
}

.topTitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 3rem;
}

.topSubTitle {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
}
