.topFixedBanner {
  background-image: url("https://img.freepik.com/free-photo/shop-clothing-clothes-shop-hanger-modern-shop-boutique_1150-8886.jpg?w=900&t=st=1660540179~exp=1660540779~hmac=793158d3b99332265daf321b8f1fcb46a98eb2b4a8df060357c3499c1a3a1d9d");
  min-height: 500px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.topBannerOverlay {
  position: absolute;
  min-height: 500px;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.topContent {
  margin-top: 12rem;
}

.topTitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 3rem;
}

.topSubTitle {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
}

.glow-on-hover {
  width: 120px;
  height: 40px;
  border: none;
  outline: none;
  color: #fff;
  background: rgb(55, 55, 55);
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: rgb(55, 55, 55);
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(55, 55, 55);
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
